
<div class="motack"></div>

<div class="signupform">
    <div class="element">
        <label for="FName">First Name:</label>
        <input type="text" id="FName" ng-model="FName"/>
    </div>
    <div class="element">
        <label for="LName">Last Name:</label>
        <input type="text" id="LName" ng-model="LName"/>
    </div>
    <div class="element" ng-controller="DataCtrl">
        <label>Birthday:</label>
        <div id="date">
            <select data-ng-model = "byear" ng-options="x for x in years" value = "year">
                <option value="">year</option>
            </select>
            <select data-ng-model= "bmon" ng-options="x for x in months" value = "month" ng-change="updateDays()">
                <option value="">month</option>
            </select>
            <select data-ng-model = "bday" ng-options="x for x in days | limitTo:numLimit" value = "day">
                <option value="">day</option>
            </select>
        </div>
    </div>
    <div class="element">
        <label for="Gender" >Gender:</label>
        <select name="gender" id="Gender" ng-model = "gender">
            <option value="">male</option>
            <option value="">female</option>
        </select>
    </div>
    <div class="element">
        <label for="smoke">Smoke:</label>
        <select id = "smoke" ng-model="smoke">
            <option value="">smoke</option>
            <option value="">don't smoke</option>
        </select>
    </div>
    <div class="element">
        <label for="type" >Looking for:</label>
        <select id="type" ng-model="type">
            <option value="">Long term relationship</option>
            <option value="">Short term relationship</option>
            <option value="">A night sex</option>
        </select>
    </div>
    <div class="element">
        <input type="submit" value="Submit" />
    </div>




</div>

