body {
    background: url("../image/bg3.jpg") no-repeat;
    width:100%;
    height:100%;
    background-size:cover
}

.motack{
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    z-index: -100;
    background-color: rgba(255,255,255,0.6);
}

#mainbody{
    width: 100%;
    padding-top: 50px;
}

#picture{
    width:100%;
}

#info{
    width: 150px;
    margin:0 auto;
}

#picture img{
    display: block;
    width: 250px;
    border-radius: 10px;
    margin: 0 auto;
}

#info p{
    width: 150px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}


.content{
    width: 150px;
    text-align: center;
}

.content span{
    font-size: 20px;
    margin-right:20px;
    color: #bbb;
}

#note{
    width: 60%;
    margin:0 auto;
    border-top: 1px solid #000;
    margin-top: 10px;
}

#note p{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

#btn{
    width: 100px;
    margin:0 auto;
}

#btn input[type="button"]{
    width:120px;
    height: 40px;
    border-radius: 2px;
    border: none;
    color: #fff;
    background-color: pink;
}

#btn input[type="button"]:hover{
    background-color: plum;
    cursor: pointer;
}