<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sampleperson3</title>
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/sampleperson.css">
    <script src="../JS/jquery/jquery.js"></script>
    <script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="home.html">Cupid</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon"></span> Account</a></li>
        </ul>
    </div>
</nav>
<div class="motack"></div>
<div id="mainbody">
    <div id="picture"><img src="../image/sample3.jpg" alt=""></div>
    <div id="info">
        <p>Robert Downey</p>
        <div class="content"><span>male</span><span>38</span><span>football</span></div>
    </div>
    <div id="note">
        <p>"Looking for a short-term relationship with a sexy girl."</p>
    </div>
    <div id="btn">
        <input type="button" id="flower" value="Flowers(38)">
    </div>
</div>
<script>
    $("#flower").one("click",function(e){
        $(this).val("Flowers(39)");
    })
</script>
</body>
</html>